/* ================== Hero Section ================== */

.hero {
  height: calc(100vh - 60px);
  width: 100%;
  background-color: var(--color-black);
  background-image: url("../../images/backgrounds/bg-image2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-white);
  padding: 0 var(--space-xl);
}

@media (max-width: 768px) {
  .hero {
    background-image: url("../../images/backgrounds/bg-image-mobile.png");
    background-position: center center;
    background-size: cover;
  }
}

.hero-content {
  max-width: 800px;
  padding: 0 var(--space-xl);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-aligns the button and text horizontally */
  justify-content: center;
}

.btn-primary {
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: var(--font-md);
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 345px;
}

.btn-primary:hover {
  background-color: #f0f0f0;
}
